
.header {
	margin-top: 1%;
	& span {
		display: inline-block;
		width: 100%;
		text-align: right;
		color: $pomegranate;
		padding: 0 5% 0 0;
	}
	& img {
		float: left;
		display: inline-block;
		@include column(4);
		margin: 0 0 0 0;
	}
	& nav {
		float: right;
		margin: 5% 1.5% 0 0;
		padding: 0 0 0 20%;
		@include column(8);
		text-align: right;
		& ul {
			display: inline-block;
			@include column(12);
			list-style-type: none;
			// remove the ul's default margin and padding
			margin: 0;
			padding: 0;
			& li {
				display: inline;
				& a {
					color: black;
					text-decoration: none;
					font-size: $basefontsize*1.1;
					display: inline-block;
					margin-right: 2%;
					&:link {
						color: black;
					}
					&:visited {
						color: black;
					}
				}
			}
		}
	}
}