//////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////////


//////////////////////////////////////////////
// 		MIXINS
////////////////////////////////////////////////


//////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////////

.map {
	padding: 0;
	margin: 0;
	max-height: 379px;
	& iframe {
		width: 100%;
		height: 379px;
		padding: 0;
		margin: 0;
	}
}