//////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////////

$titleBack: $pomegranate;
$bannerHeight:  145px;

//////////////////////////////////////////////
// 		MIXINS
////////////////////////////////////////////////

@mixin titleBackGradient($color) {
	$ieColour: "'"+$color+"'";
	background: $color; 
	// /* Old browsers */
	// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjMDM5MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzAzOTJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  $color 0%, $color 100%); 
	// /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$color), color-stop(100%,$color)); 
	// /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  $color 0%,$color 100%); 
	// /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  $color 0%,$color 100%); 
	// /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  $color 0%,$color 100%); 
	// /* IE10+ */
	background: radial-gradient(ellipse at center,  $color 0%,$color 100%); 
	// /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$ieColour, endColorstr=$ieColour,GradientType=1 );
	// /* IE6-8 fallback on horizontal gradient */

}

//////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////////

.titleBanner {
	display: block;
	// background: $titleBack;
	@include titleBackGradient($titleBack);
	height: $bannerHeight;
	padding-top: 3%;
	padding-left: 5%;
}

h1 {
	color: $basecolor;
	text-shadow:0 0 10px $subtleTextShade;
}