extends index.layout.jade

block pageTitle
	title Adwords Audit - Sunny Lam Consulting

block titleBanner
	.titleBanner.gradient
		.wrapper.clearfix
			h1 Adwords Audit

block introBox
	include ./includes/introBox/audit.020915.1.jade

block gamePlanAudit
	include ./includes/audit/audit.offer.020915.1.jade

block gamePlanCTA
	include ./includes/audit/audit.CTA.020915.1.jade