extends index.layout.jade

block pageTitle
	title Adwords Audit - Sunny Lam Consulting

block titleBanner
	.titleBanner.gradient
		.wrapper.clearfix
			h1 Case Studies

block introBox
	include ./includes/introBox/casestudy.120314.1.jade

block caseStudyDisplay
	include ./includes/casestudies/casestudy.list.120314.1.jade

block caseStudyCTA
	include ./includes/caseStudyCTA/casestudycta.120314.1.jade