extends index.layout.jade

block introduction
    include ./includes/introduction/intro.112914.1.jade

block specialOffers
    include ./includes/specialOffers/specialOffers.112914.1.jade

block googleMap
    include ./includes/mapZone/googleMapZone.112914.1.jade