extends index.layout.jade

block pageTitle
	title Adwords Process - Sunny Lam Consulting

block titleBanner
	.titleBanner.gradient
		.wrapper.clearfix
			h1 Sunny Process

block introBox
	include ./includes/introBox/process.120114.1.jade

block processSteps
	include ./includes/processSteps/processSteps.120114.1.jade

block caseStudyCTA
	include ./includes/caseStudyCTA/casestudycta.120114.1.jade