extends index.layout.jade

block pageTitle
	title Adwords Services - Sunny Lam Consulting

block titleBanner
	.titleBanner.gradient
		.wrapper.clearfix
			h1 What You Receive

block introBox
	include ./includes/introBox/services.120114.1.jade

block servicesOffered
	include ./includes/serviceOffers/serviceOffer.120114.1.jade

block caseStudyCTA
	include ./includes/caseStudyCTA/casestudycta.120114.1.jade