.caseStudyCTA
	.wrapper.clearfix
		h2 Let Us Help You With The Numbers
		img(src="images/casestudyCTA/Laptop%20Adword%20Graphic.png", alt="Adwords Management Case Studies and Testimonials")
		a(href="javascript:void(0)") View Case Studies Now
		//- the following is absolutely positioned so if the image changes it becomes warped...
		//- icon.fa.fa-frown-o.fa-2x.faceFail
		//- icon.fa.fa-road.fa-2x.faceRoad
		//- icon.fa.fa-angellist.fa-2x.faceWorks
		//- icon.fa.fa-frown-o.fa-2x
		//- icon.fa.fa-road.fa-2x
		//- icon.fa.fa-angellist.fa-2x