.caseStudyCTA2
	.wrapper.clearfix
		img(src="images/casestudyCTA/8bc72ed7.png", alt="Adwords Management Case Studies and Testimonials")
		.caseStudyCTABox
			h2 Transform your business into a winner with our services.
			.actionButtons
				a(href="services.html")
					icon.fa.fa-briefcase.fa-3x.ctaIcon 
					p Services
				a(href="javascript:void(0)")
					icon.fa.fa-dropbox.fa-3x.ctaIcon 
					p Products
		img(src="images/casestudyCTA/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.png", alt="Adwords Management Case Studies and Testimonials")
