.introBox.clearfix
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam qui provident, facilis praesentium cum. Autem, cum dolorem tempora a voluptas nulla, quo vero eos, rem iure error modi eligendi quibusdam!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, obcaecati? Vel officiis natus esse quod, assumenda voluptatibus quibusdam magni pariatur nam officia dicta voluptatum dolorem.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit, dolore dignissimos. Nemo vero cum reprehenderit? Aliquid quaerat amet, perferendis cupiditate quam mollitia modi tempore!
