.introBox.clearfix
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, possimus explicabo expedita perspiciatis doloribus laboriosam dolores, at recusandae cum quos minus eaque pariatur reiciendis, consequatur est adipisci. Eos, sapiente, veritatis?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, possimus explicabo expedita perspiciatis doloribus laboriosam dolores, at recusandae cum quos minus eaque pariatur reiciendis, consequatur est adipisci. Eos, sapiente, veritatis?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, possimus explicabo expedita perspiciatis doloribus laboriosam dolores, at recusandae cum quos minus eaque pariatur reiciendis, consequatur est adipisci. Eos, sapiente, veritatis?