div.contactForm
	h3 Get In Touch
	form(method='post', action='pylpemail.php')
		fieldset
			input(type='text',placeholder="Name",name='name')
			input(type='text',placeholder="Email",name='from')
			input(type='text',placeholder="Phone",name='custom_Phone')
			textarea(placeholder="Message",name='custom_Comments')
			input(type='submit', value='Send Your Message')
