//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/map-marker-2x.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/phone-2x.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/social-facebook%202.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/social-googleplus%202.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/social-twitter%202.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/address.icon.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/telephone.icon.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/Facebook%2048.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/Google%20Plus%2048.png
//- file://localhost/Applications/MAMP/htdocs/slc.adwords.site.111614/images/contactSection/Twitter%2048.png

div.contactDetails
	h3 Contact Details
	//- use CSS to add the icon images using :before
	p +1 (416) 845-0818
	p 35 Aldergrove Ave, Toronto, ON, M4C 1B3
	//- social media icons are 48x48px; the images themselves are much smaller
	a(href="http://on.fb.me/trbVmN")
		img(src="images/contactSection/Facebook%2048.png", alt="Facebook & Google AdWords Management")
	a(href="http://twitter.com/sunnylam")
		img(src="images/contactSection/Twitter%2048.png", alt="Twitter & Google AdWords Management")
	a(href="https://plus.google.com/+SunnylamCa/")
		img(src="images/contactSection/Google%20Plus%2048.png", alt="Google Plus & Google AdWords Management")
