
//- ===================================
//- MAIN CODE
//- ===================================

section.contactSection
	.wrapper.clearfix
		include contactDetails.112914.1.jade
		//- for the news feed to work you'd have to use PHP and/or jQuery to pull a list of your post's titles and post summaries and generate a dynamic section
		//- placeholder material
		include newsfeed.ex.112914.1.jade
		include contactForm.112914.1.jade
