//- this is placeholder blog feed material since we don't have PHP or jQuery setup to display

//- ===================================
//- MIXINS
//- ===================================

mixin newfeedEx
	h4 Market Like The Beverley Hills Ninja
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur facilis tempore odit blanditiis, laborum omnis mollitia fugit?

//- ===================================
//- MAIN CODE
//- ===================================

div.newsFeed
	h3 News Feed
	+newfeedEx
	+newfeedEx
	+newfeedEx