section.footer
	.wrapper.clearfix
		.copyright
			p Copyright 2014 - 2015 @ Sunny Lam Consulting
		ul
			li: a(href="index.html") Home
			li: a(href="privacy.html") Privacy Policy
			li: a(href="terms.html") Terms
			li: a(href="contact.html") Contact