//- ===================================
//- MIXINS
//- ===================================

//- ===================================
//- MAIN CODE
//- ===================================

.auditOffer
	.wrapper.clearfix
		.gamePlanCopy.auditBlock
			img.tabletDisplay(src="./images/audit/iPad%20Image%202.png", alt="Tablet Computer Showing the Words Game Plan", title="Tablet Computer Showing the Words Game Plan")
			div.explanationBlock
				h2 So let’s work on your game plan.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque libero ipsam perspiciatis natus voluptatum, voluptates nemo expedita debitis dicta aliquid soluta culpa! Dolores dolorem qui deserunt saepe numquam eveniet. Cum!
				h2 So let’s work on your game plan.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto libero delectus, reiciendis temporibus veritatis amet! Quos voluptates nihil consequuntur reprehenderit quo, culpa nisi, officiis hic eos magnam sit molestiae labore.
			img.orderButton
		.gamePlanPrice.auditBlock
			p.gamePriceText AdWords Game Plan
			p.gameFinalPrice
				—————— $950 ——————-
			p.gamePriceText stake to increase your leads
		.gamePlanExtra.auditBlock
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet cum omnis aut illo. Accusamus saepe, corporis porro pariatur enim nulla molestias et perferendis nesciunt id officiis, ad vero deserunt mollitia sint ullam, repudiandae dolore eveniet laboriosam temporibus natus aperiam ducimus possimus tempora impedit. Ut ipsam molestiae aut voluptatum commodi! Voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minima asperiores error, dolorem consequuntur modi, laudantium dolorum provident nisi deserunt, omnis eius sit? Eius et voluptas illo a dolorum quia tenetur, ab reprehenderit, voluptatum aut debitis maxime rem eos officiis aliquid, consequuntur doloremque nihil doloribus repellat harum dicta! Corrupti, ipsum.